*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.About{
    padding: 0px 50px;
    padding-bottom: 25px;
    text-align: left;
}
.About h1{
    margin-top: 20px;
}
.About p{
    margin-bottom: 30px;
}
.Abouthorizontal{
    height: 3px;
   
  
    
    
    background-color: rgb(126, 13, 13);
    width: 150px;
}
@media screen and (min-width:959px) {
    .About{
        max-width: 70%;
       min-width: 70%;
       margin: 0px auto;
       
    }
    .About h1{
        text-align: center;
    }
    .About p{
        margin-top: 20px;
    }
    .Abouthorizontal{
        margin: 0 auto;
    }
}