.navarea{
    
    margin-bottom: 70px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(53, 51, 51);
    color: white;
    padding: 0px 10px;
    padding-left: 50px;
    padding-right: 40px;
}
.navarea ul{ 
   
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navarea li{
    margin-right: 30px;
    color:white;
}
.navarea li:hover{
   
    color: rgb(158, 155, 155);
}

.navMenu{
    display: none;

}
.signup{
    padding: 8px;
    border-radius: 30px;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-right: 50px;
}
.signup:hover{
    background-color: black;
    color: white;
}
.dropdown{
display: none;
}

.dropdown #dropdown-basic{
    background-color: black;
    border: none;
    outline: none;
}
.menuButton{
    margin-left: 10px;
    border-radius: 20px;
    padding: 5px;
    border: none;
    width: 110px;
   
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.links{
    text-decoration: none;
    list-style: none;
    color:white;
}
@media screen and (max-width:960px) {
    .signup{
        display:none
    }
    .dropdown{
        display: flex;
        }
    .navarea ul{
        display:none
    }
    .navarea li{
       margin-right: 0px;
    }
    .navMenu{
        display: flex;
    }
    
    .navarea{
    padding-left: 10px;
padding-right: 10px;
justify-content: space-between;
    }
    
}