*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.mb-2{
    background-color: rgb(126, 13, 13);
    margin-right: 10px;
}
Card{
    margin-right: 20px;
    background-color: rgb(126, 13, 13);
}
.Checker{
    display: flex;
    align-items: center;
    justify-content: center;

}
 #spin{
    color: red;
    font-weight: bolder;
    margin-top: 40vh;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 50px;
    height: 50px;
}
.Checker{
   
    padding: 20px;
}
.resetButton{
    height:36px;
    margin-left: -67px;
    margin-top: 17px;
    padding: 3px;
    border: 0px solid black;
    cursor: pointer;
    background-color: rgb(48, 47, 47);
    color: white;
   
 
  z-index: 100000;
}


    input:focus,textarea:focus,select:focus{
        outline:none;
    }

.inputdiv{
    padding-left: 10px;
    display: flex;
    border: 2px solid black;
    align-items: center;
    max-width: 50%;
    height: 35px;
    position: relative;
}
.inputsearch{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
}
.resetButton:hover{
    background-color: black;
    
   
   
   
}
.covidcheckerhorizontal{
    height: 3px;
   text-align: center;
    background-color: rgb(126, 13, 13);
    margin: 0 auto;
    width: 280px;
}
@media screen and (min-width:959px) {
   .colum #carrd{
    max-width: 240px;
    min-width: 240px;
line-height:4px;
    }
    .covidcheckerhorizontal{
        margin-bottom: 20px;
    }
    
}
